
body{
    background-image: url('flight.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


   

    
    
    
  

    

